Source: ev3dev-tools
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Section: utils
Homepage: http://www.ev3dev.org
Vcs-Git: git://github.com/ev3dev/ev3dev-tools.git
Vcs-Browser: https://github.com/ev3dev/ev3dev-tools

Package: ev3dev-tools
Architecture: all
Depends: flash-kernel, avahi-utils, ${misc:Depends}
Description: Miscellaneous tools for ev3dev
 A collection of tools for ev3dev.
 * ev3dev-config: A graphical command line utility to help with basic system
   administration.
 * ev3dev-sysinfo: Command line utility to display system information.
